:root {
    --main-color : #5865f2;
}
header {
    padding: 0 48px;
    height: 64px;

}
img {
    width: 100%;
    display: block;
}
button {
    cursor: pointer;
}
.header-container {
    max-width: 1160px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container nav {
    display: flex;
    gap: 16px;
}
.header-container ul {
    display: flex;
    gap: 16px;
}
.header-container a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;

}
.header-container a:hover {
    text-decoration: underline;
}
.lang-select {
    display: flex;
    align-items: center;
    gap: 4px;
}
.lang-select::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border: 1px solid var(--main-color);
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
}
.hamberger-button {
    background-color: transparent ;
    border: none;
    color: var(--main-color);

    display: none;
}
main {
    height: 400px ;
    background-image: url(img/main-background.png);
    background-size: cover;
    background-position: center;
    padding: 0 32px;
}
.main-container {
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    padding-bottom: 40px;
}  
.search-container {
    position: relative;
    width: 100%;
    color: gray;
}
.section-container  p {
    line-height: 24px;
}
.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.search-container > input {
    display: block;
    width: 100%;
    padding: 8px;
    padding-left: 32px;
    border: none;
    border-radius: 8px;
}
section {
    padding: 0 32px;
}
#help-main {
    text-align: center;
}
.section-container {
    padding-top: 64px;
}
#help-main h2 {
    font-size: 32px;
    font-weight: bold;
    color: #222;
    margin-bottom: 24px;
}
.help-contents-wrapper {
    display: flex;
    /* 컨텐츠가 넘치면 줄바꿔 줌 */
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 48px;
    /* 윗부분을 안 묶어놔서 ul에게 줌 */
    justify-content: center;
    
}
.help-content {
    width: 240px;
    height: 260px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
}
.help-content:hover{
    background-color: #eee;
}
.help-content > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
    
}
.help-content-img {
    width: 106px;
    margin: 0 auto;
   
}
.links {
   text-decoration: none;
   color: var(--main-color);
}
.links:hover {
    text-decoration: underline;
}
.content-heading {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-heading::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ccc;

    margin-top: 24px;
    margin-bottom: 16px;
}
.content-explane {
    color: #555;
    font-size: 14px;
}
#more-help {
    text-align: center;
}
#more-help h2 {
    font-size: 32px;
    font-weight: bold;
}
.help-content-diff {
    width: 260px;
}
footer {
    background-color: #121315;
    overflow: hidden;
    
}
.footer-container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.footer-more {
    text-align: center;
    padding: 48px;
}
.footer-more > button {
    background-color: #3ba55c;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.footer-devices > img {
    height: 150px;
    width: auto;
    margin: 0 auto;

}
.footer-devices {
    position: relative;
    border-bottom: 1px solid#353535;
    width: 1000px;
}
.icons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

}
.icons img {
    height: 56px;
    /* 높이값 초기화. */
    opacity: 0.5;

    transition: 0.2s;
    /* 애니메이션 효과 */
    position: absolute;
    top: 65px;
    width: auto;
}
.icon-browsers {
    left: 180px;

}
.icon-android {
    left: 470px;
}
.icons img:hover{
    opacity: 1;
}
.icon-apple {
    left: 560px
}
.icon-window {
    left: 680px;
}
.icon-mac {
    left: 780px
}
.footer-logo-container {
    width: 150px;
}
.footer-nav-container {
    display: flex;
    gap: 200px;
    padding: 32px 32px;
    padding-bottom: 48px;
    width: 100%;
}
#more-help {
    padding-bottom: 200px;
}
.footer-nav {
    display: flex;
    flex-grow: 1;
    /* 너비를 키워줄때 쓰는 속성 부모에게 쓰고 
    자식에게 width:100% */
}
.footer-nav > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.footer-nav a:hover{
    text-decoration: underline;
}
.footer-nav-sign {
    color: #666;
    font-size: 12px;
}
.footer-nav-ex {
    color: green;
    font-size: 14px;
}
#help {
    position: fixed;
    bottom: 16px;
    right: 8px;
    padding: 0;

}
#help > button {
    background-color: var(--main-color);
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    
    gap: 6px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media screen and (max-width:799px) {
    .hamberger-button {
        display: block;
    }
    .header-container ul {
        display: none;
    }
}
